<template>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Person In Charge</th>
                <th scope="col">Show</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(task, key) in tasks" :key="key">
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.title }}</td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.person_in_charge }}</td>
                    <td>
                        <router-link v-bind:to="{name: 'task.show', params: {taskId: task.id }}">
                            <button class="btn btn-primary">Show</button>
                        </router-link>
                    </td>
                    <td>
                        <router-link v-bind:to="{name: 'task.edit', params: {taskId: task.id }}">
                            <button class="btn btn-success">Edit</button>
                        </router-link>
                    </td>
                    <td>
                        <button class="btn btn-danger" v-confirm="onAlert(task)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            tasks: []
        }
    },
    methods: {
        getTasks() {
            axios.get('/api/tasks')
                .then((res) => {
                    this.tasks = res.data;
                });
        },
        deleteTask: function(dialog, task){
            // 削除
            setTimeout(function() {
                dialog.close();
            }, 1500);

            axios.delete('/api/tasks/' + task.id)
            .then((res) => {
                this.getTasks();
            });
        },
        doNothing: function(){
            // キャンセル
        },
        onAlert: function(task){
            let self = this;
            return {
                loader: true,
                html: true,
                okText: '削除',
                cancelText: 'キャンセル',
                ok: function(dialog){self.deleteTask(dialog, task)},
                cancel: this.doNothing(),
                message: {
                    title: 'ユーザー確認',
                    body: 'あなたが選択したIDはこちら?<br><br><strong>ID:</strong> '+ task.id
                }
            };
        }
    },
    mounted() {
        this.getTasks();
    }
}
</script>